<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script type="text/javascript">
      // Trigger extension entry point.
      // See: https://crosswalk-project.org/jira/browse/XWALK-2840
      console.log(nfc, navigator.nfc);
    </script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="xwalk-nfc-christmas-tree" ng-controller='AppController'>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">XWalk NFC Christmas Tree</h1>
        <div class="buttons">
          <button class="button" ng-click="showAddTagRegistrationPopup()">
            <i class="icon ion-plus"></i>
          </button>
        </div>
      </ion-header-bar>
      <ion-content>
        <p class="full-label" ng-if="nfc.tagRegistrations.length == 0">
          There are no tag registrations.
        </p>
        <div class="list" ng-if="nfc.tagRegistrations.length > 0">
          <div class="item item-divider">
            Tag registrations
          </div>

          <div class="item" ng-repeat="registration in nfc.tagRegistrations">
            <a href="#" ng-click="tagRegistrationClicked(registration)">
              <div class="row">
                <div class="col col-10">{{$index + 1}}.</div>
                <div class="col" ng-class="{hasMessageEvent: registration.lastMessageEvent}">{{registration.scope || "No scope"}}</div>
                <div class="col col-10">{{registration.messageEventCount || 0}}</div>
                <div class="col col-10">
                  <i ng-show="registration.lastMessageEvent" class="icon ion-wifi"></i>
                </div>
              </div> <!-- row -->
            </a>
          </div> <!-- item -->
        </div> <!-- list -->
      </ion-content>
    </ion-pane>
  </body>
</html>
