<ion-view title="XWalk NFC Demo">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus" ng-click="showAddWatchPopup()">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <p class="full-label" ng-if="nfc.watches.length == 0">
      There are no watched scopes.
    </p>

    <div class="list" ng-if="nfc.watches.length > 0">
      <div class="item item-divider">
         Scopes watched
      </div>

      <div class="item" ng-repeat="w in nfc.watches">
        <a href="#" ng-click="watchClicked(w)">
          (<strong>{{w.timestamp | date:'shortTime'}}</strong>) -
          {{w.scope || "Empty scope"}}
        </a>
      </div> <!-- item -->
    </div> <!-- list -->

    <div class="list" ng-if="nfc.readEvents.length > 0">
      <div class="item item-divider">
         Read events
      </div>

      <div class="item" ng-repeat="e in nfc.readEvents">
        <a href="#" ng-click="readEventClicked(e)">
          (<strong>{{e.timestamp | date:'shortTime'}}</strong>) -
          {{e.data.contentType || "No content type detected"}}
        </a>
      </div> <!-- item -->
    </div> <!-- list -->


  </ion-content>
</ion-view>
